In [1]:
#importações
import pandas as pd

In [2]:
#carregar o dataset
bol_soma = pd.read_csv('data/BOL_SOMA.csv')
gabarito = pd.read_csv('data/Especialistas.csv')

In [3]:
#gerar o dataset resumido
bol_soma_resumido = bol_soma.copy()
info_cols = [x for x in range(42, 70)]
bol_soma_resumido.drop(bol_soma_resumido.columns[info_cols],axis=1,inplace=True)

In [30]:
#definição da função n
def metodo_n(input_resumo, tamanho_resposta):
    avaliacao_crowd = []
    for x in range(1, 43):
        avaliacao_crowd.append([input_resumo[f'{x}'].sum()])
    datafrm = pd.DataFrame(avaliacao_crowd, columns=['avaliacao'])
    datafrm.index = datafrm.index + 1
    return datafrm
    #TODO ação quando há empate entre o último selecionado e o primeiro abandonado

In [32]:
n_result.sort_values?

In [33]:
n_result = metodo_n(bol_soma_resumido, 6)
print(n_result)
n_result.sort_values(by='avaliacao', ascending=False).head()

    avaliacao
1         -10
2          -8
3          -9
4          -2
5         -15
6         -38
7         -34
8         -31
9         -24
10        -12
11        -13
12        -12
13        -24
14        -37
15         -5
16        -13
17         -8
18         -2
19        -23
20        -28
21        -19
22        -37
23        -54
24        -14
25         -6
26        -19
27        -54
28        -28
29        -21
30        -13
31         -8
32        -13
33        -33
34        -26
35        -11
36         -6
37        -10
38        -40
39        -18
40        -18
41        -32
42        -26

    avaliacao
4          -2
18         -2
15         -5
36         -6
25         -6

In [ ]:
#definição de teste de precisão/recall
def check_results(n_result, gabarito):

In [ ]:
#definicao da função p
def metodo_p():